apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: prometheus-postgresql
  namespace: {{ namespaces.prometheusOperator }}
  labels:
    app: prometheus-operator
    release: prometheus-operator

spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: postgresql
  namespaceSelector:
    matchNames:
      - {{ namespaces.prometheusOperator }}
  podMetricsEndpoints:
    - port: http-metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
