#cloud-config
users:
  - name: k8s
    groups: users, admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
{% for key in ssh_authorized_keys %}
      - {{ key }}
{% endfor %}
packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - software-properties-common
  - python
  - iptables-persistent
  - gnupg-agent
  - joe
runcmd:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
  - add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - curl -fsSL https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
  - add-apt-repository "deb http://packages.cloud.google.com/apt/ kubernetes-xenial main"
  - apt update
  - swapoff -a
  - sudo apt install policykit-1
  - apt install -y docker-ce={{ docker_version }} docker-ce-cli={{ docker_version }}
  - apt-mark hold docker-ce docker-ce-cli containerd.io
  - apt install -y kubelet={{ kubernetes_version }}-00 kubeadm={{ kubernetes_version }}-00 kubectl={{ kubernetes_version }}-00
  - apt-mark hold kubelet kubeadm kubectl
  - DEBIAN_FRONTEND=noninteractive apt -yq upgrade
  - usermod -aG docker k8s
  - apt install -y ifupdown
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '/^PasswordAuthentication/s/^.*$/PasswordAuthentication no/' /etc/ssh/sshd_config
  - sed -i -e '/^X11Forwarding/s/^.*$/X11Forwarding no/' /etc/ssh/sshd_config
  - sed -i -e '/^#MaxAuthTries/s/^.*$/MaxAuthTries 2/' /etc/ssh/sshd_config
  - sed -i -e '/^#AllowTcpForwarding/s/^.*$/AllowTcpForwarding no/' /etc/ssh/sshd_config
  - sed -i -e '/^#AllowAgentForwarding/s/^.*$/AllowAgentForwarding no/' /etc/ssh/sshd_config
  - sed -i '$a AllowUsers k8s' /etc/ssh/sshd_config
  - touch /opt/ready.txt
  - reboot now
