stan:
  clusterID: kb-messaging
  nats:
    url: "nats://nats:4222"

store:
  type: sql
  sql:
    driver: postgres

    # STAN database
    source: "dbname=stan user=postgres password=sjBKW2Axw6DkYxA3JzBZzFK6C host=postgres-postgresql.{{ namespace.postgres }} port=5432 sslmode=disable"

    # InitDB
    dbHost: postgres-postgresql.postgres
    dbPort: 5432
    dbUser: postgres
    dbPassword: sjBKW2Axw6DkYxA3JzBZzFK6C
    dbName: stan

    initdb:
      enabled: true
      image: postgres:11

exporter:
  enabled: true
